<a class="ajout" href="#open-modal">+</a>
<div id="open-modal" class="modal-window ">
    <div>
        <a href="#modal-close" title="Close" class="modal-close">close &times;</a>
        <h1>Nouvelle partie</h1>
        <div class="textModal">Veillez entrer le nom des joueurs:</div>
        <img src="/images/logoVert.png" class="logoVert">
        <img src="/images/logoBleu.png" class="logoBleu">
        <form>
            <div class="element_2">

                <div class="form-group">
                    <label for="joueurDeux">Joueur 1</label>
                    <input type="text" name="joueur1" class="form-control" id="joueur1">
                    <small id="joueurUn" class="form-text text-muted"></small>
                </div>

                <div class="form-group">
                    <label for="joueurDeux">Joueur 2</label>
                    <input type="text" name="joueur2" class="form-control" id="joueur2">
                    <small id="joueurDeux" class="form-text text-muted"></small>
                    <button type="submit" class="boutonCreat modal-valid-close">Validez</button>
                </div>
            </div>
        </form>
    </div>
</div>